<nav class="nav">
    <ul>
        <li class="nav-item"><a target="new" href="//github.com/VuTrungTruc-slimetan/Pso2-s-Compendium/blob/master/compendium/thuat_ngu.md">Thuật ngữ / Viết tắt</a></li>
        <li class="nav-item"><a target="new" href="//github.com/VuTrungTruc-slimetan/Pso2-s-Compendium/blob/master/compendium/chat_commands.md">Chat Commands</a></li>
        <li class="nav-item" data-toggle="collapse" data-target="#weap"><a href="#" >Weapon / Unit</a></li>
        <ul id="weap" class="collapse">
            <li><a href="compendium/other/weap/liberate/">- <img src="compendium/other/weap/liberate/data/liberate-unlocker.png"> Liberate</a></li> 
            <li><a href="compendium/other/weap/lightstream/">- <img src="compendium/other/weap/lightstream/data/circular-amphitrite-stone.png"> Lightstream </a></li> 
            <li><a href="compendium/other/weap/atlas-ex/">- <img src="compendium/other/weap/atlas-ex/data/time-stone.png"> Atlas EX</a></li> 
        </ul>
        <li class="nav-item" data-toggle="collapse" data-target="#bot"><a href="#" >Tantanyan Discord Bot</a> </li>
        <ul id="bot" class="collapse">
            <li><a href="https://tantanyan.3ktan.site/">- Official Web</a></li> 
            <li><a href="https://discordapp.com/oauth2/authorize?client_id=409256908684263426&scope=bot&permissions=305523830">- Invite Link</a> </li> 
            <li><a href="https://discord.gg/76HeWzE">- Support Server</a></li> 
        </ul> 
    </ul> 
    <br>
</nav>  