<div class="menu">
    <ol>
        <li><a target="new" href="//github.com/VuTrungTruc-slimetan/Pso2-s-Compendium/blob/master/compendium/thuat_ngu.md">Thuật ngữ / Viết tắt</a></li>
        <li><a target="new" href="//github.com/VuTrungTruc-slimetan/Pso2-s-Compendium/blob/master/compendium/chat_commands.md">Chat Commands</a></li>
        <li>Khác
            <ul>
                <li class="collap" data-toggle="collapse" data-target="#weap"><a href="#" >Weapon</a> 
                    <ul id="weap" class="collapse">
                        <li><a href="//vutrungtruc-slimetan.github.io/Pso2-s-Compendium/compendium/other/weap/atlas-ex/index.html">Atlas EX</a></li>
                        <li><a href="//vutrungtruc-slimetan.github.io/Pso2-s-Compendium/compendium/other/weap/lightstream/index.html">Lightstream</a></li>
                        <li><a href="//vutrungtruc-slimetan.github.io/Pso2-s-Compendium/compendium/other/weap/liberate/index.html">Liberate (on going)</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="collap" data-toggle="collapse" data-target="#bot"><a href="#" >Tantanyan Discord Bot</a>
            <ul id="bot" class="collapse">
                <li><a href="https://tantanyan.3ktan.site/">Official Web</a></li>
                <li><a href="https://discordapp.com/oauth2/authorize?client_id=409256908684263426&scope=bot&permissions=305523830">Invite Link</a> </li>  
                <li><a href="https://discord.gg/76HeWzE">Support Server</a></li>
            </ul>
        </li>
        
    </ol>
</div>